.header{
    background-color:#B0BFC2;
    color: black;
    display: flex;
    justify-content: center;
    position: relative;
}


.headerList{
    display: flex;
    gap: 100px;
}

.headerListItem{
display: flex;
align-items: center;
gap: 10px;
}

.headerListItem.active{
    border: 1px solid white;
    padding: 10px;
    border-radius: 15px ;
}

