.featured{
    width: 100%;
    min-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;
    max-width: 1024px;
}

.featuredItem{
    position: relative;
    color: white;
    border-radius: 30px;
    overflow: hidden;
    flex: 1;
    height: 300px;
    
}

.featuredImg{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.featuredTitles{
    position: absolute;
    bottom: 1px;
    left: 20px;
}