.navbar{
    height: 60px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;

}
.navContainer{
    width: 100%;
    max-width: 1024px;
    color: black;
    display: flex;
    allign-item : center;
    justify-content: space-between;
}

.logo{
    font-weight: 500;
}
.navButton{
    margin-left: 25px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
}

