.navbar{
    height: 100px;
    background-color:rgba(0, 0, 0, 0.207);
    display: flex;
    justify-content: center;

}
.navContainer{
    width: 100%;
    max-width: 1024px;
    color: #B0BFC2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 500;
    font-size: 50px;
    color: whitesmoke;
}
.navButton{
    margin-left: 25px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #003580;
    border-radius: 10px;
    margin-right: 5px;
}

.icon{
    color: whitesmoke;
    /* padding-right: 10px; */
}

